<?xml version="1.0" encoding="utf-8"?>

<!--
  如需如何設定 ASP.NET 應用程式的詳細資訊，請前往
  https://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
	<system.web>
		<compilation debug="true" targetFramework="4.6.2"/>
		<httpRuntime targetFramework="4.6.2"/>
		<pages>
			<controls>
				<add src="~/WebUserControls/MainFooter.ascx" tagPrefix="AdminLTE" tagName="MainFooter" />

				<add src="~/WebUserControls/Starter/StarterHead.ascx" tagPrefix="AdminLTE" tagName="StarterHead" />
				<add src="~/WebUserControls/Starter/StarterMainHeader.ascx" tagPrefix="AdminLTE" tagName="StarterMainHeader" />
				<add src="~/WebUserControls/Starter/StarterMainSidebar.ascx" tagPrefix="AdminLTE" tagName="StarterMainSidebar" />
				<add src="~/WebUserControls/Starter/StarterScript.ascx" tagPrefix="AdminLTE" tagName="StarterScript" />
				<add src="~/WebUserControls/Starter/StarterControlSidebar.ascx" tagPrefix="AdminLTE" tagName="StarterControlSidebar" />

				<add src="~/WebUserControls/Dashboard/DashboardGeneralHead.ascx" tagPrefix="AdminLTE" tagName="DashboardGeneralHead" />
				<add src="~/WebUserControls/Dashboard/DashboardV1Head.ascx" tagPrefix="AdminLTE" tagName="DashboardV1Head" />
				<add src="~/WebUserControls/Dashboard/DashboardV2Head.ascx" tagPrefix="AdminLTE" tagName="DashboardV2Head" />
				<add src="~/WebUserControls/Dashboard/MainHeader.ascx" tagPrefix="AdminLTE" tagName="MainHeader" />
				<add src="~/WebUserControls/Dashboard/MainSidebar.ascx" tagPrefix="AdminLTE" tagName="MainSidebar" />
				<add src="~/WebUserControls/Dashboard/ControlSidebar.ascx" tagPrefix="AdminLTE" tagName="ControlSidebar" />
				<add src="~/WebUserControls/Dashboard/DashboardV1Script.ascx" tagPrefix="AdminLTE" tagName="DashboardV1Script" />
				<add src="~/WebUserControls/Dashboard/DashboardV2Script.ascx" tagPrefix="AdminLTE" tagName="DashboardV2Script" />
				<add src="~/WebUserControls/Dashboard/DashboardGeneralScript.ascx" tagPrefix="AdminLTE" tagName="DashboardGeneralScript" />

				<add src="~/WebUserControls/TopNavigation/TopNavigationMainHeader.ascx" tagPrefix="AdminLTE" tagName="TopNavigationMainHeader" />
				<add src="~/WebUserControls/TopNavigation/TopNavigationScript.ascx" tagPrefix="AdminLTE" tagName="TopNavigationScript" />
				<add src="~/WebUserControls/TopNavigation/TopNavigationMainHeader.ascx" tagPrefix="AdminLTE" tagName="TopNavigationMainHeader" />
				<add src="~/WebUserControls/TopNavigation/TopNavigationMainFooter.ascx" tagPrefix="AdminLTE" tagName="TopNavigationMainFooter" />

			</controls>
		</pages>
	</system.web>
	<system.codedom>
		<compilers>
			<compiler language="c#;cs;csharp" extension=".cs"
			  type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.1.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
			  warningLevel="4" compilerOptions="/langversion:default /nowarn:1659;1699;1701"/>
			<compiler language="vb;vbs;visualbasic;vbscript" extension=".vb"
			  type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.1.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
			  warningLevel="4" compilerOptions="/langversion:default /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+"/>
		</compilers>
	</system.codedom>

</configuration>
